<section class="splash-page">

</section>

  <section class="logo-back">
    <img class="logo-img"
         src="<%= asset_path('TagLine2.png') %>"
         alt="Fwendatar">

     <section class="session-type-choice group">
       <a id="sign-in-button" class="current-session-type session-type">Sign in</a>
<%= link_to "Sign up", new_user_url, class: "other-session-type switch-session-button session-type" %>
     </section>

     <section class="omni-auth group">
       <img src="<%= asset_path("google-plus.png") %>"
            class="omni-auth-logo"
            width="50"
            height="50"
            alt="Google Plus">
       <%= link_to "Sign in with Google",
                   "/auth/google_oauth2",
                   class: "omniauth-button",
                   id: "google-omni" %>
     </section>
 </section>

  <section class="new-user-form">



    <form action="<%= session_url %>" class="session-form" method="post">
      <%= auth_token_input %>


      <section class="email-label credential">
        <label>
          <input class="sign-in-email credential-input"
                 type="email"
                 name="user[email]"
                 value=""
                 placeholder="Email"
                 autofocus="true">
        </label>
      </section>

      <section class="password-label credential">
        <label>
          <input class="sign-in-password credential-input"
                 type="password"
                 name="user[password]"
                 value=""
                 placeholder="Password">
        </label>
      </section>

      <input type="submit"
             class="start-session-button"
             value="Submit">

    </form>
  </section>
</section>