<figure class="user-avatar"><%= image_tag @user.avatar.url(:big), size: "45x45" %></figure>
<h3>Edit <%= @user.name %>'s account</h3>
<br><br>
<form action="<%= user_url(@user) %>" enctype="multipart/form-data" method="POST">
  <%= auth_token_input %>
  <input type="hidden" name= "_method" value= "PATCH" >
  <label>
    Email
    <input type="email" name="user[email]" value="<%= @user.email %>">
  </label>
<br>
  <label>
    Name
    <input type="text" name="user[name]" value="">
  </label>
<br>

<input id="user-avatar-upload" name="user[avatar]" type="file" value="<%= @user.avatar_file_name %>">


<br>
  <input type="submit" value="Submit">
</form>
  <%= link_to "Cancel", user_url(@user)%>