<script>
// $("#new-message").keypress(function(event) {
//     if (event.which == 13) {
//         event.preventDefault();
//         $("submit-message").click();
//     }
// });

$( "#new-message" ).keypress(function(event) {
  if (event.which == 13){
    event.preventDefault();
    $("#submit-message").click();
  }
});
</script>

<article class="chat-window">
  <header class="chat-header">
    <figure class="chat-logo" alt="chat logo">
      <img height="45" src="<%= chat.escape("portrait") %>" width="45">
    </figure>

    <section class="chat-descriptors">
      <h1><%= chat.escape("title") %></h1>
      <h2><%= chat.escape("description") %></h2>
    </section>

    <section class="chat-tools">
      <a id="chat-settings-trigger" class="chat-options" href="#/chats/<%= chat.get("id") %>">
        O
      </a>
      <a class="close-chat chat-options" href="#">
        X
      </a>
    </section>

  </header>

  <article class="chat-window-body">

    <section class="chat-messages">
      <ul class="messages-list">
      </ul>
    </section>

      <textarea type="text"
                value=""
                name="message[content]"
                id="new-message"></textarea>
      <input type="submit" id="submit-message" value="Send Message">
  </article>
</article>
<section class="chat-settings">
  <figure class="chat-portrait" alt="chat logo">
    <img height="240" src="<%= chat.escape("portrait") %>" width="240">
  </figure>
<section class="member-management">
<label class="member-list">
Members
  <section class="side-settings member-avatars">
    <% chat.members().models.forEach(function(member){ %>
      <img src="<%= member.attributes.avatar %>" width="35" height="45" alt="<%= member.attributes.name %>">
    <%  }) %>
  </section>
</label>
<label class="side-settings settings-modal-trigger">
  <a id="modal-trigger">Settings</a>
</label>

</section>





</section>

<div class="clear"></div>

