<article class="chat-window">

  <article class="chat-window-body">

    <section class="chat-messages">
      <ul class="messages-list">

      </ul>
    </section>
  </article>
</article>
<section class="send-message-area">
    <textarea type="text"
              value=""
              name="message[content]"
              id="new-message"
              placeholder="Enter message here, then hit enter!"></textarea>
</section>
<section class="chat-settings">
  <figure class="chat-portrait" alt="chat logo">
    <img height="240"
         src="<%= chat.escape("portrait") %>"
         width="240">
  </figure>

  <section class="chat-descriptors">
    <h1><%= chat.escape("title") %></h1>
    <h2><%= chat.escape("description") %></h2>
  </section>

<section class="all-settings">

  <section class="member-management">

    <section class="member-list">
      <img class="trigger-image"
           src="<%= chat.escape("member_icon") %>">
      <a name="modalMembers"
         class="modal-trigger chat-settings-trigger">
         Members
      </a>
      <section class="side-settings member-avatars">
        <% chat.members().models.forEach(function(member){ %>
          <img class="listatar"
               id="status-<%= member.attributes.id %>"
               src="<%= member.attributes.avatar %>"
               alt="<%= member.attributes.name %>">
        <%  }) %>
      </section>
    </section>
    <label class="side-settings settings-modal-trigger">
      <img class="trigger-image"
           src="<%= chat.escape("settings") %>">
      <a name="modalSettings"
         class="modal-trigger chat-settings-trigger">
         Settings
      </a>
    </label>

    </section>
  </section>
<div class="clear"></div>
<input type="submit"
       id="submit-message"
       value="Send Message">
