<article class="chat-window">
  <header class="chat-header">
    <figure class="chat-logo" alt="chat logo">
      <img height="65" src="<%= chat.escape("portrait") %>" width="65">
    </figure>

    <section class="chat-descriptors">
      <h1><%= chat.escape("title") %></h1>
      <h2><%= chat.escape("description") %></h2>
    </section>

    <section class="chat-tools">
      <a id="chat-settings-trigger" class="chat-options" href="#/chats/<%= chat.get("id") %>">
        <img src="<%= chat.escape("settings") %>" width="25px" height="25px">
      </a>
      <a class="close-chat chat-options" href="#">
        <img src="<%= chat.escape("closer") %>" width="25px" height="25px">
      </a>
    </section>

  </header>

  <article class="chat-window-body">

    <section class="chat-messages">
      <ul class="messages-list">

      </ul>
    </section>
  <section class="send-message-area">
      <textarea type="text"
                value=""
                name="message[content]"
                id="new-message"></textarea>
      <input type="submit" id="submit-message" value="Send Message">
  </section>
  </article>
</article>
<section class="chat-settings">
  <figure class="chat-portrait" alt="chat logo">
    <img height="240" src="<%= chat.escape("portrait") %>" width="240">
  </figure>
<section class="member-management">
<label class="member-list">
<a name="modalMembers" class="modal-trigger">Members</a>
  <section class="side-settings member-avatars">
    <% chat.members().models.forEach(function(member){ %>
      <img src="<%= member.attributes.avatar %>" width="35" height="45" alt="<%= member.attributes.name %>">
    <%  }) %>
  </section>
</label>
<label class="side-settings settings-modal-trigger">
  <a name="modalSettings" class="modal-trigger">Settings</a>
</label>

</section>





</section>

<div class="clear"></div>

