<article class="chat-window">
  <header class="chat-header">
    <figure class="chat-logo" alt="chat logo">
      <img height="65" src="<%= chat.escape("portrait") %>" width="65">
    </figure>

    <section class="chat-tools">
      <a class="close-chat chat-options" href="#">
        <img src="<%= chat.escape("closer") %>" width="25px" height="25px">
      </a>
    </section>

  </header>

  <article class="chat-window-body">

    <section class="chat-messages">
      <ul class="messages-list">

      </ul>
    </section>
  <section class="send-message-area">
      <textarea type="text"
                value=""
                name="message[content]"
                id="new-message"></textarea>
      <input type="submit" id="submit-message" value="Send Message">
  </section>
  </article>
</article>
<section class="chat-settings">
  <figure class="chat-portrait" alt="chat logo">
    <img height="240" src="<%= chat.escape("portrait") %>" width="240">
  </figure>

  <section class="chat-descriptors">
    <h1><%= chat.escape("title") %></h1>
    <h2><%= chat.escape("description") %></h2>
  </section>
<section class="all-settings">

  <section class="member-management">

    <section class="member-list">
      <img class="trigger-image" src="fwendatar_alt.png">
      <a name="modalMembers" class="modal-trigger chat-settings-trigger">Members</a>
      <section class="side-settings member-avatars">
        <% chat.members().models.forEach(function(member){ %>
          <img class="listatar" src="<%= member.attributes.avatar %>" alt="<%= member.attributes.name %>">
        <%  }) %>
      </section>
    </section>
    <label class="side-settings settings-modal-trigger">
      <img class="trigger-image" src="<%= chat.escape("settings") %>">
      <a name="modalSettings" class="modal-trigger chat-settings-trigger">Settings</a>
    </label>

    </section>
  </section>
<div class="clear"></div>

