<form action="<%= chat_url(@chat) %>" enctype="multipart/form-data" method="POST">

<%= auth_token_input %>

<input type="hidden" name= "_method" value= "PATCH" >

<label>
  Chat Name
  <input type="text"
         value="<%= @chat.title %>"
         name = "chat[title]">
</label>

<br>

<label>
  Chat Description
  <input type="text"
         value="<%= @chat.description %>"
         name = "chat[description]">
</label>

<br>

<input id="chat_portrait" name="chat[portrait]" type="file">

<br><br>
<h3>Current Members</h3>
<% User.all.each do |user| %>
<% next if !@chat.users.include?(user) %>
<%= image_tag user.avatar.url, size: "45x45" %>
<% end %>


<h3>Select which users to add</h3>
<ul>
<% User.all.each do |user| %>
<% next if @chat.users.include?(user) %>
<li>
  <input type = "checkbox"
         name = "chat[user_ids][]" value="<%= user.id %>">
  <%= user.name %>
 </li>

<% end %>
</ul>

<input type="submit">

</form>
<%= link_to "Cancel", chat_url(params[:id]) %>
<% if current_user.id == @chat.owner.id %>
<%= button_to "Delete This Chat", chat_url(params[:id]), method: :delete %>
<% end %>