<header class="chat-header">
<figure class="chat-logo" alt="chat logo">
<%= image_tag @chat.portrait.url(:big), size: "45x45" %>
</figure>

<section class="chat-descriptors">
  <h1><%= @chat.title %></h1>
  <h2><%= @chat.description %></h2>
</section>

<section class="chat-tools">
  <a class="chat-settings chat-options" href="<%= edit_chat_url(@chat) %>">
    O
  </a>
  <a class="close-chat chat-options" href="<%= root_url %>">
    X
  </a>
</section>

</header>

<article class="chat-window-body">

  <section class="chat-messages">
    <ul class="messages-list">

        <% @messages.each do |message| %>
        <li class="message">
          <%= image_tag message.user.avatar, size: "40x40" %>
          <%= "#{message.user.name}: #{message.content}" %><br>
        </li>
        <% end %>
    </ul>
  </section>

  <form action="<%= messages_url(@chat) %>" method="post">
    <%= auth_token_input %>
    <textarea type="text"
              value=""
              name="message[content]"
              class="new-message">
    </textarea>

    <input type="submit" class="send-message-button" value="Send Message">
  </form>

</article>