<html>
<head>
  <title>Links</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script src="//js.pusher.com/2.2/pusher.min.js" type="text/javascript"></script>
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
  <% if current_user %>
    <script>window.current_user = {
      id:<%= current_user.id %>,
      avatar:"<%= current_user.avatar %>",
      name:"<%= current_user.name %>",
      email:"<%= current_user.email %>"
    }

    window.pusher_tokens = {
      key: "<%= ENV['PUSHER_KEY'] %>"
    }
    </script>
  <% end %>


  <%= csrf_meta_tags %>
</head>
<body>
<header>
<% if signed_in? %>

<nav id="" class="group">
  <div class="user-menu-link">
    <figure class="current-user-avatar">
      <img class="navatar" src="<%= current_user.avatar %>">
    </figure>
    <a class="current-user-profile" href="#">
    <%= current_user.name %>
    </a>
  </div>
  <ul class="user-menu">
    <li><a href="/#/users/<%= current_user.id %>/edit" class="modal-trigger" id="edit-profile-link">Edit Profile</li>
    <li><%= link_to "Sign Out", session_url, :method => :delete %></li>
  </ul>
</nav>

</header>
<br>
<a href = "/#/users/<%= current_user.id %>/chats/new" class="modal-trigger" id="new-chat-button">Create New Chat</a>
<a href = "/users" id="make-fwends-button" class="fwends-link">Make Fwendz</a>

<%= link_to "Make Fwends", users_url %>
<aside id="chat-tray" class="group">
  <br><br>
  <%= render :partial => 'layouts/_chatlist' %>
  <%#= render :partial => 'layouts/_userlist' %>

</aside>

<main class="chat-experience group">
  <article class="chat-window">
    <%= yield %>
    <%= render :partial => 'layouts/_errors' %>
  </article>
</main>


<% else %>

<% if !signed_in? %>
  <%= render :partial => 'layouts/_errors' %>
<% end %>

<%= yield %>

<% end %>

<div id="modal"></div>
<div id="modal-overlay"></div>

</body>




</html>
