<html>
<head>
  <title>Links</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
<% if signed_in? %>

<nav id="" class="group">
  <a class="user-menu-link"><%= current_user.email %></a>
  <ul class="user-menu">
    <li><%= link_to "Sign Out", session_url, :method => :delete %></li>
    <li><%= link_to "Edit Profile", edit_user_url(current_user) %></li>
  </ul>
</nav>

</header>
<br>

<aside id="chat-tray" class="group">
  <br><br>
  <%= link_to "Create New Chat", new_chat_url %>
  <%= render :partial => 'layouts/_chatlist' %>
  <%= render :partial => 'layouts/_userlist' %>
</aside>

<%= render :partial => 'layouts/_errors' %>
<main class="chat-window">
  <%= yield %>
</main>
<% else %>

<%= yield %>

<% end %>
</body>
</html>
